<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579111544968-f2bqq9ftod1vngfe5ii5mh2f3toqhits.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579111544968-f2bqq9ftod1vngfe5ii5mh2f3toqhits</string>
	<key>API_KEY</key>
	<string>AIzaSyC6hidUX_d0LLl71DDey-uAXctwIpkzPVM</string>
	<key>GCM_SENDER_ID</key>
	<string>579111544968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolist</string>
	<key>PROJECT_ID</key>
	<string>todo-f2e84</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-f2e84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579111544968:ios:f3bd7e50a84b50d1a0973d</string>
	<key>DATABASE_URL</key>
	<string>https://todo-f2e84-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>